<div class="container mx-auto p-4">
  <h1 class="text-2xl mb-4">Lista de Vuelos</h1>

  <!-- Botón para crear un nuevo registro -->
  <div class="mb-4">
    <button class="bg-green-500 text-white p-2 rounded">Crear Registro</button>
  </div>

  <!-- Barra de búsqueda y botón de buscar alineados a la izquierda con separación -->
  <div class="mb-4 flex">
    <input
      type="text"
      placeholder="Buscar HotelName, City, CehckingDate,Price Per Night..."
      class="border border-gray-400 p-2 w-1/3 rounded-l"
    />
    <!-- Ajuste de tamaño -->
    <button class="bg-blue-500 text-white p-2 ml-2 rounded">Buscar</button>
  </div>

  <table class="table-auto w-full border-collapse border border-gray-400">
    <thead>
      <tr class="bg-gray-800 text-white">
        <th class="border border-gray-400 p-2">CITY ORIGIN</th>
        <th class="border border-gray-400 p-2">DESTINATION</th>
        <th class="border border-gray-400 p-2">DEPARTURE DATE</th>
        <th class="border border-gray-400 p-2">DEPARTURE TIME</th>
        <th class="border border-gray-400 p-2">PRICE</th>
        <th class="border border-gray-400 p-2">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights$ | async" class="text-center">
        <td class="border border-gray-400 p-2">{{ flight.cityOrigin }}</td>
        <td class="border border-gray-400 p-2">{{ flight.destination }}</td>
        <td class="border border-gray-400 p-2">
          {{ flight.departureDate | date }}
        </td>
        <td class="border border-gray-400 p-2">{{ flight.departureTime }}</td>
        <td class="border border-gray-400 p-2">
          {{ flight.price | currency }}
        </td>
        <td class="border border-gray-400 p-2">
          <button
            class="bg-blue-500 text-white p-2 rounded"
            (click)="editFlight(flight)"
          >
            Editar
          </button>
          <button
            class="bg-red-500 text-white p-2 rounded ml-2"
            (click)="deleteFlight(flight.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
